.text {
	border: 1px solid #999999;
	font-size: 12px;
	width: 160px;
}

.btn {
	font-size:12px;
	border: 1px solid #2c59aa;
	line-height: 16px;
	height: 19px;
	width:70px;
	background-color: #C3DAF9;
}

.ok {
	text-align: left;
	padding-left: 20px;
	background-image:url(../images/btn_ok.gif);
}

.cancel {	
	text-align: left;
	padding-left: 20px;
	background-image:url(../images/btn_cancel.gif);
}

.find {	
	text-align: left;
	padding-left: 20px;
	background-image:url(../images/btn_find.gif);
}

.default {
	background-image:url(../images/btn_default.gif);	
}
