<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Spring字符编码过滤器 -->
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/applicationContext.xml,
			/WEB-INF/classes/service_system.xml,
			/WEB-INF/classes/service_basic.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>sysname</param-name>
		<param-value>
			手机进销存管理系统
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			net.beifeng.mobile_scm.web.SysInit
		</listener-class>
	</listener>
  <servlet>
    <servlet-name>GetValidateCodeServlet</servlet-name>
    <servlet-class>net.beifeng.mobile_scm.web.GetValidateCodeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/getVcode</url-pattern>
  </servlet-mapping>
  
</web-app>
